<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">

<section id="contato">
    <h1>.Contato</h1>
    <div class="container-contact">
        <p class="text" style="padding: 25px 0px 0px 35px;">
            Se você tiver dúvidas ou apenas gostaria de dizer olá, entre em contato comigo. Farei o possível para te responder o mais rápido possível!
        </p>
        <div class="icon-container">
            <div class="icon-block">
                <a href="https://api.whatsapp.com/send?phone=558195596222" target="_blank">
                    <img src="assets/img/whatsapp.png" alt="WhatsApp Icon">
                    <div class="legend">WhatsApp</div>
                    <div class="link-text">81 995596222</div>
                </a>
            </div>
            <div class="icon-block">
                <a href="mailto:amandaalcantara98@hotmail.com" target="_blank">
                    <img src="assets/img/email.png" alt="Email Icon">
                    <div class="legend">Email</div>
                    <div class="link-text">amandaalcantara98&#64;hotmail.com</div>
                </a>
            </div>
            <div class="icon-block">
                <a href="https://www.linkedin.com/in/amanda-alves-615573144/" target="_blank">
                    <img src="assets/icons/LinkedIn-C.png" alt="LinkedIn Icon">
                    <div class="legend">LinkedIn</div>
                    <div class="link-text">/amanda-alves-615573144/</div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <footer class="footer">
        © 2024 | Amanda Alves
    </footer>
</section>
