<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
<section id="skills">
    <h1>.Skills</h1>
    <div class="container_skill">
        <ul class="skills-list">
           <li>
            <img src="assets/icons/knowledge/html.svg" loading="lazy" width="60px"  height="60x" />
            <span><strong>HTML3</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/css.svg" loading="lazy"  width="60px"  height="60x" />
            <span><strong>CCS5</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/javascript.svg" loading="lazy"  width="60px"  height="60x" />
            <span><strong>JavaScript</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/csharp.svg" loading="lazy"  width="60px"  height="60x" />
            <span><strong>C#</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/dotnet.svg" loading="lazy" width="60px"  height="60x" />
            <span><strong>.Net</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/java.svg" loading="lazy"  width="60px"  height="60x" />
            <span><strong>Java</strong></span>
           </li>
           <li>
            <img src="assets/icons/knowledge/git.svg" loading="lazy" width="60px"  height="60x"/>
            <span><strong>Git</strong></span>
           </li>
               
                  
        </ul>
    </div>
    
</section>