<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

<section id="projetos">
  <h1>.Projetos</h1>
  <div class="projects">
    <div class="container-projects">
      <article class="card-project">       
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Gerador Perguntas</mat-card-title>
            <mat-card-subtitle>
              <img src="assets/icons/knowledge/javascript.svg" loading="lazy"  width="20px"  height="20px" />
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/projects/projeto1.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p style="margin-top: 10px;">
              Esse projeto foi feito utilizando uma API que gera perguntas aletória de filmes. O foco principal foi aprofundar meus conhecimentos de Jquery e Ajax.              
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://geradorperguntas.netlify.app/" target="_blank">Ver projeto</a>
            <a mat-button href="https://github.com/amandaalvesss/GeradorPerguntas" target="_blank">Repositório</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Page Hotel</mat-card-title>
            <mat-card-subtitle>
              <img src="assets/icons/knowledge/html.svg" loading="lazy"  width="20px"  height="20px" />
              <img src="assets/icons/knowledge/css.svg" loading="lazy"  width="20px"  height="20px" />
              <img src="assets/icons/knowledge/javascript.svg" loading="lazy"  width="20px"  height="20px" />
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/projects/projeto2.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p style="margin-top: 10px;">
              Projeto desenvolvido para uma rede de hotel. Página clean, de fácil manuseio para o usuário e com design responsivo.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://hotelpagef.netlify.app/" target="_blank">Ver projeto</a>
            <a mat-button href="https://github.com/amandaalvesss/HotelPage" target="_blank">Repositório</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>API Livro</mat-card-title>
            <mat-card-subtitle>
              <img src="assets/icons/knowledge/csharp.svg" loading="lazy"  width="20px"  height="20px" />
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/projects/projeto3.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p style="margin-top: 10px;">
              Sistema básico desenvolvido em .Net MVC com MySQl para gravar os livros lidos pelo usuário. O foco foi gravar no back end os registros do usuário no banco e fazer as operações de salvar, editar e excluir.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://github.com/amandaalvesss/RegistroLivros" target="_blank">Repositório</a>          </mat-card-actions>
        </mat-card>
      </article>    
    </div>
  </div>
</section>